<div class="row">
    <div class="col-md-4">
        <h3>Seleccione archivos</h3>
        <div class="well drop-zone file-over">
            <h4>Deje Caer aquí los archivos</h4>
            <img src="/assets/drop-images.png" alt="" srcset="">
        </div>
    </div>
    <div class="col-md-8">
        <h4>Cargar archivos</h4>
        <button class="btn btn-success" (click)="cargarImagenes()" [disabled]="archivos.length == 0">Cargar a Firebase</button>
        <button class="btn btn-warning">Limpiar</button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>x</td>
                    <td>y</td>
                    <td><div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;">25%</div>
                      </div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>