<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               [class.is-invalid]="nombreNoValido"
               formControlName="nombre">
               <small *ngIf="nombreNoValido"
                class="form-text text-danger">El nombre es obligatorio</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               [class.is-invalid]="apellidoNoValido"
               formControlName="apellido">
               <small *ngIf="apellidoNoValido"
                class="form-text text-danger">El apellido es obligatorio</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             [class.is-invalid]="correoNoValido"
             formControlName="correo">
             <small *ngIf="correoNoValido"
                class="form-text text-danger">El correo no es v&aacute;lido</small>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Nobre de usuario"
             [class.is-invalid]="usuarioNoValido"
             formControlName="usuario">
             <small *ngIf="usuarioNoValido"
                class="form-text text-danger">El nombre de usuario ya fue tomado</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">

      <input type="password" class="form-control" placeholder="Contraseña" formControlName="pass1" [class.is-invalid]="pass1NoValido">
      <small *ngIf="pass1NoValido"
                class="form-text text-danger">El password no es v&aacute;lido</small>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-2 col-form-label">Repita contraseña</label>
    <div class="col">
      <input type="password" class="form-control" placeholder="Contraseña" formControlName="pass2" [class.is-invalid]="pass2NoValido">
      <small *ngIf="pass2NoValido"
                class="form-text text-danger">El password no es v&aacute;lido</small>
    </div>
  </div>



  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Dirrecion</label>

    <div class="col">
      <input type="text" class="form-control" placeholder="Distrto" [class.is-invalid]="direccionDistritoNoValido" formControlName="distrito">
      <small *ngIf="direccionDistritoNoValido"
                class="form-text text-danger">El distrino no es v&aacute;lido</small>
    </div>
    
    <div class="col">
      <input type="text" class="form-control" placeholder="Ciudad" [class.is-invalid]="direccionCiudadNoValido" formControlName="ciudad">
      <small *ngIf="direccionCiudadNoValido"
                class="form-text text-danger">La direcci&oacute;n no es v&aacute;lida</small>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Pasatiempos</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let control of pasatiempos.controls; let i = index">
            <td>{{i+1}}</td>
            <td><input class="form-control" type="text" [formControlName]="i"></td>
            <td><button class="btn btn-danger" type="button" (click)="borrarPasatiempo(i)">Borrar</button></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary mt-3 mb-5 btn-block" type="button" (click)="agregarPasatiempo()">+ Agregar</button>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr/>
<code>
  Formulario v&aacute;lido: <var>{{forma.valid}}</var>
</code>
<hr/>

<hr/>
<code>
  Estado del formulario: <var>{{forma.status}}</var>
</code>
<hr/>

<pre>
  {{forma.value | json}}
</pre>
